<?xml version="1.0"?>
<configuration>
	
	<system.web>
		
		<identity impersonate="true"/>
		<authentication mode="Windows"/>
		
		<globalization 
				requestEncoding="utf-8" 
				responseEncoding="utf-8" 
				culture="es-ES"
		/>    
  
	</system.web>

  <appSettings>
    <add key ="DSNBD" value ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IndicadoresBolsaDB;IntegratedSecurity=True"/>
  </appSettings>
   
  <connectionStrings>
    <add name ="DSNBD" connectionString ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IndicadoresBolsaDB;IntegratedSecurity=True" providerName="System.Data.SqlClient"/>
    <add name="Test" connectionString="Data Source=.;Initial Catalog=OmidPayamak;IntegratedSecurity=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
</configuration>
